@import 'tailwindcss';

:root {
  --primary: oklch(0.7519 0.1551 40.76);
  --background: oklch(1 0 0);
  --foreground: oklch(0.9618 0 264.66);
  --dark-foreground: oklch(0.7164 0 264.66);
  --contrast: oklch(0.2101 0.0318 264.66);
  --placeholder: oklch(0.6481 0 264.66);
  --border: oklch(0.8603 0 264.66);
  --muted: oklch(0.8533 0 184.24);
  --button-background: oklch(0.9362 0 264.66);
}

.dark {
  --background: oklch(0.2101 0.0318 264.66);
  --foreground: oklch(0.3353 0.0543 264.66);
  --dark-foreground: oklch(0.3353 0.0543 264.66);
  --contrast: oklch(1 0 0);
  --placeholder: oklch(0.7004 0 264.66);
  --border: oklch(0.6088 0.074 264.66);
  --muted: oklch(0.4605 0.0543 264.66);
  --button-background: oklch(0.2856 0.0543 264.66);
}

@theme inline {
  --color-primary: var(--primary);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-dark-foreground: var(--dark-foreground);
  --color-contrast: var(--contrast);
  --color-placeholder: var(--placeholder);
  --color-border: var(--border);
  --color-muted: var(--muted);
  --color-button-background: var(--button-background);
}

.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.line-clamp-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

a {
  color: #2563eb;
  font-weight: 500;
  text-decoration: inherit;
}

a:hover {
  opacity: 0.8;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  /* padding: 0.6em 1.2em; */
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 6px;
}

/* 스크롤바 트랙 꾸미기 */
::-webkit-scrollbar-track {
  background: var(--color-background);
  border-radius: 8px;
}

/* 스크롤바 손잡이 꾸미기 */
::-webkit-scrollbar-thumb {
  background: var(--color-dark-foreground);
  border-radius: 8px;
}

/* 스크롤바 손잡이 호버 시 색 */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-dark-foreground);
}
